
  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(/static_shared/fonts/MaterialIcons-Regular.subset.b08783e1dce436d1fc48.woff2) format('woff2'),
      url(/static_shared/fonts/MaterialIcons-Regular.subset.a7504957787832d02dc4.woff) format('woff'),
      url(/static_shared/fonts/MaterialIcons-Regular.subset.5e2e1a2780011ba8ef6b.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Material Icons Round';
    font-style: normal;
    font-weight: 400;
    src: local("MaterialIcons-Round"),
    url(/static_shared/fonts/MaterialIconsRound-Regular.subset.7154eae1d0e60e0dabe4.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Cardo Bold';
    font-style: normal;
    font-weight: bold;
    src: local('Cardo'),
      local('Cardo-Bold'),
      url(/static_shared/fonts/Cardo-Bold.d7bf1aa6f322a64b2fc3.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Cardo Italic';
    font-style: italic;
    font-weight: 400;
    src: local('Cardo'),
      local('Cardo-Italic'),
      url(/static_shared/fonts/Cardo-Italic.0935d2ebbc05be3559b1.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Helvetica Light';
    font-style: normal`;
    font-weight: 400;
    src: local('Helvetica Light'),
      local('Helvetica-Light'),
      url(/static_shared/fonts/Helvetica-Light.70359849afb40079a1c8.ttf) format('truetype');
  }
  .external-link.nav-link::after {
    background-image: url('/static_shared/images/external_link.58bbdd86c00a2c146c36.svg'); 
  }
  